body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #cfb1ff;
}

#title {
	margin: 5px 0;
}

#description {
	margin: 5px 0;
}

#survey-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
